<span class="inline-flex items-center gap-1 align-middle">
    {% if search.search_wallapop %}
    <img src="/static/wallapop-logo.svg" alt="Wallapop" title="Wallapop" class="h-4 inline-block">
    {% endif %}
    {% if search.search_cashconverters %}
    <img src="/static/cashconverters-logo.png" alt="CashConverters" title="CashConverters" class="h-4 w-4 rounded-sm inline-block object-cover">
    {% endif %}
    {% if search.search_cex %}
    <img src="/static/cex-logo.svg" alt="CeX" title="CeX" class="h-4 w-4 rounded-sm inline-block object-cover">
    {% endif %}
    {% if search.search_milanuncios %}
    <img src="/static/milanuncios-logo.png" alt="Milanuncios" title="Milanuncios" class="h-4 w-4 rounded-sm inline-block object-cover">
    {% endif %}
</span>
